<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstagramInfoAuthorizationUrl</key>
	<string>https://api.instagram.com/oauth/authorize/</string>
	<key>InstagramInfoBaseUrl</key>
	<string>https://api.instagram.com/v1/</string>
	<key>InstagramInfoAppRedirectURL</key>
	<string>summerwarsredirecturl://</string>
	<key>InstagramInfoAppClientId</key>
	<string>106e8eea6eb549559f8efb5962d98ca0</string>
</dict>
</plist>
